# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.programmator_lab.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\dev\unity_projects\Programmator\programmator_lab\.idea\.idea.programmator_lab\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
