# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Programmator.iml
# Datasource local storage ignored files
/../../../../../../../:\dev\unity_projects\Programmator\.idea\.idea.Programmator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
